<%= form_with(model: group) do |f| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :name %>: 
  <%= f.text_field :name %>
  <div class="field">
    <% @icons_url.each do |icon| %>
      <label>
        <%= f.radio_button :icon, icon, class: 'radio-input'%>
        <%= image_tag icon, alt: icon, class: "img-icon" %>
      </label>
    <% end %>
  </div>
  <%= f.submit "Save"%>
</div>
<% end %>
