<%= form_with(model: [group, record]) do |f| %>
  <% if record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>:
  <%= f.text_field :name %>
  <%= f.label :amount %>:
  <%= f.number_field :amount, step: 0.01 %>
  <%= f.submit "Save" %>
<% end %>
